
.fea-list__item:not(:last-child) {
    margin-bottom:30px;
}

.fea-list__feature-icon-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;          
}


.fea-list__title {
    text-align: center;
    
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;

}

.fea-list__features {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;   
}




@media screen and (min-width: 768px) {
    .fea-list {

        display: flex;
        flex-wrap: wrap;
        gap:30px;
    }

    .fea-list__item {
       flex-basis: 354px;
       margin-bottom: 0px;

       
    } 
}


@media screen and (min-width: 1200px) {

    .fea-list__item {
       flex-basis: 270px;      
       
    } 
}


