

.form-email {
    
    margin-left: auto;   
}

.form-email-title {
    text-align: center;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color:var(--primary-white-color);
}



.form-submit {

    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width:200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: start;

    color: #FFFFFF;
    background-color: var(--accent-color);
    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;    
}

.form-submit-icon {
    margin-left: 10px;
}

// .form-email-wraper {
//     display: flex;
// }