.card-link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
        
    }     
}
    


.card-overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-link:hover &,
    .card-link:focus & {
    transform: translateY(0);
    }
}

.title-port {
    
    color:var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;                 
}

.direction {
   line-height: 1.8;
   letter-spacing: 0.03em;
   color:var(--primary-text-color);
  

}

.button-direction {
    border-radius: 4px;
    padding: 6px 22px;
    background-color:#F5F4FA;
    color:var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: transparent;
    text-align: center;

    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {

    color:var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.list-filtr {

    width: 326px;
    
    display: flex;

    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    
    justify-content: flex-start;
    margin-bottom: 40px;
  
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    gap:30px;    
}

.card{
    width:450px;
    // width: calc((100% - 60px)/3);
    /* flex-basis: calc((100% - 60px)/3);----------------------Вроде как правильнее для Flex єлементов */   
}

.border{
    border:1px solid #EEEEEE ;
    border-top: none;
    padding: 20px 24px 20px 24px;  
}

.image-card {
    position: relative;
    overflow: hidden;
    
}

.card-link-description {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);
    /* overflow: auto;--------------------------------------Skrol!! */
}
