.staff{
    background-color: #F5F4FA;
}

.profession-list__card {
   
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
 
}


.profession-list__item {
    padding-top: 30px;
    padding-bottom: 24px;   
}

.profession-list__name {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.profession-list__profession {
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    
    margin-bottom: 16px;
}


.staff__image {
    max-width: 450px;
}

@media screen and (max-width: 767px) {
.profession-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
    
    .profession-list {
        display: flex;
        flex-wrap: wrap;
        gap:30px;
            
    }


 }
 