.title-action {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}