
body{
    font-family: roboto, sans-serif;
    color:var(--primary-text-color);        
}

ul{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img {
    display: block;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    margin-top: 0;
    margin-bottom: 0;
 }

 button {
    cursor: pointer;
 }

 a {
    text-decoration: none;
 }